<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block extra_head %}
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
    {% endblock extra_head %}
</head>
<body>
    {% block header %}
    <header class="space">
        <h1>{{ config.title }}</h1>
        {% set linked_pages = section.pages | filter(attribute="extra.in_header") %}
        {% if config.extra.links or linked_pages %}
        <nav class="header-links">
            {% for page in linked_pages %}
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% endfor %}
            | 
            {% for user in config.extra.users %}
            <a href="{{ user.href }}">{{ user.name }}</a>
            {% endfor %}
            
            {% for link in config.extra.links %}
            <a href="{{ link.href }}">{{ link.title }}</a>
            {% endfor %}
        </nav>
        {% endif %}
    </header>
    {% endblock header %}
    {% block content %}
    {% set_global pages = [] %}
    {% for user in config.extra.users %}
        {% set temp_blog = get_section(path=user.href ~ "/_index.md") %}
        {% set temp_pages = temp_blog.pages | slice(end=5) %} 
        {% set_global pages = pages | concat(with=temp_pages) %}
    {% endfor %}
    {% set_global pages = pages | sort(attribute="date") | reverse() | slice(end=5) %}

    <main>
        {% if pages %}
        <h2>Recent posts:</h2>
        <ul>
            {% for page in pages %}
                <li>{{ page.date }} | <a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if section.content %}
        <div {% if blog.pages %}class="space"{% endif %}>
            {{ section.content | safe }}
        </div>
        {% endif %}
    
    </main>
    
    {% endblock content %}
    <div class="dark-mode-buttons">
        <button class="dark-mode-button" id="dark-mode-on"><img src="{{ get_url(path='dark_mode.svg') }}" width="24" height="24" alt="Dark mode" aria-label="dark mode toggle" title="Dark mode"></button>
        <button class="dark-mode-button" id="dark-mode-off"><img src="{{ get_url(path='light_mode.svg') }}" width="24" height="24" alt="Light mode" aria-label="light mode toggle" title="Light mode"></button>
    </div>
    
    <script>
        const cls = document.body.classList;
        const getSessionTheme = sessionStorage.getItem("theme");
        if (getSessionTheme === "dark") {
            cls.toggle("dark-mode", true);
        } else if (getSessionTheme === "light") {
            cls.toggle("dark-mode", false);
        } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            cls.toggle("dark-mode", true);
        }

        document.getElementById("dark-mode-on").addEventListener("click", function(e) {
            cls.toggle("dark-mode", true);
            sessionStorage.setItem("theme", "dark");
        });
        document.getElementById("dark-mode-off").addEventListener("click", function(e) {
            cls.toggle("dark-mode", false);
            sessionStorage.setItem("theme", "light");
        });
    </script>
    <noscript>
        <style>
            .dark-mode-buttons {
                display: none;
            }
        </style>
    </noscript>
</body>
</html>
